body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #787A7C;
}


.main-wrapper {
    position: relative;
    overflow: hidden
}

ul,
ol,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: #0E141B;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

a:hover {
    text-decoration: none;
    color: #0E141B;
}

a:focus,
input:focus,
button:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

input {
    border: none
}

img {
    max-width: 100%;
    display: block
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #011129;
   font-family: 'Staatliches', sans-serif;
    margin-bottom: 0
}

h1,
.h1 {
    font-size: 64px;
    line-height: 110%;
}

h2,
.h2 {
    font-size: 48px;
    line-height: 100%;
}

h3,
.h3 {
    font-size: 28px;
    line-height: 30px;
}

h4,
.h4 {
    font-size: 26px;
    line-height: 32px;
}

h5,
.h5 {
    font-size: 22px;
    line-height: 30px;
}

h6,
.h6 {
    font-size: 16px;
    line-height: 24px;
}


p {
    margin-bottom: 16px;
}


p:last-child {
    margin-bottom: 0 !important;
}

button {
    border: none;
    transition: all 0.4s ease 0s;
    background: transparent
}

.container {
    max-width: 1260px
}

.container.wide {
    max-width: 1360px
}


.text_white,
.text_white > * {
    color: #fff
}

section,
.section {
    padding: 100px 0
}

.cta-btn {
    background: #E1261C;
    padding: 12px 32px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    transition: all 0.4s
}

.cta-btn:hover {
    color: #fff;
    background: #f50e01;
}

.title {
    font-size: 20px;
    font-weight: 600;
     font-family: 'Poppins', sans-serif;
    color: #011129;
}

.section-heading {
    margin-bottom: 60px
}


/* 02. header css */

.site-logo a {
    display: inline-block;
    margin-right: 40px
}

.header-inn {
    padding: 20px 0;
}

.header-action a {
    color: #fff;
    font-weight: 500;
    line-height: 100%;
    display: inline-block;
    padding: 12px 32px;
    margin-left: 24px;
}

.mainmenu {
    margin-left: 30px;
}

.mainmenu ul {
    display: flex;
    align-items: center
}

.mainmenu ul li {
    display: inline-block;
    margin-right: 10px;
    position: relative
}

.mainmenu ul li a {
    color: #565656;
    font-weight: 400;
    line-height: 100%;
    display: block;
    padding: 15px 10px
}



/* 02. Hero css */
.hero-area{
    padding: 0;
    left: 
}
.hero-slider {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    padding-top: 170px;
    padding-bottom: 150px;
}
.hero-bg-1{
    background-image: url(../img/hero-1.png)
}
.hero-bg-2{
    background-image: url(../img/hero-2.png)
}
.hero-heading{
    color: #fff;
    line-height: 90%;
    font-weight: 400;
    margin-bottom: 36px
}
.hero-text p{
    color: rgba(255, 255, 255, 0.86);
    line-height: 200%;
    margin-bottom: 48px
}


/* 02. Hero css */
.counter-area{
    background: #F4F8FF;
    padding: 50px 0
}
.counter-box img{
    margin: 0 auto
}
.counter-box span{
    color: #3E3E3E;
    font-size: 24px;
    font-weight: 500;
    margin-top: 8px;
    display: block
}
.counter-box p{
    font-size: 14px;
    color: #3E3E3E;
    font-weight: 500
}

/* 02. service css */

.service-box{
    position: relative;
    width: 100%;
    height: 324px;
    margin-bottom: 24px;
    display: block
}
.service-box:hover{
    transform: translateY(-4px)
}
.service-box img{
    width: 100%;
    height: 100%;
    object-fit: cover
}
.service-text{
    position: absolute;
    background: rgba(19, 19, 19, 0.36);
    color: #fff;
    padding: 16px 0;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 0
}
.service-action .cta-btn{
    margin-top: 36px
}

/* 02. Choose css */
.choose-text{
    box-shadow: 14px 14px 96px 0px rgba(225, 38, 28, 0.06);
    padding: 16px;
}
.choose-text-margin{
    margin-bottom: 24px
}
.choose-text .title{
    margin-bottom: 16px
}
.choose-text p{
    line-height: 180%
}

/* 02. Network css */
.network-map-img{
    width: 100%;
    height: 490px
}
.network-map-img img{
    width: 100%;
    height: 100%;
    object-fit: cover
}
.network-map ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px
}
.network-map ul li{
    margin-right: 40px
}
.network-map ul li:last-child{
    margin-right: 0
}
.network-map ul li a{
    display: flex;
    align-items: center
}
.network-map ul li a img{
    margin-left: 8px
}

/* 02. Video css */
.video-area{
    position: relative;
    z-index: 9
}
.video-area::before{
position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(../img/video-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -9
}

.work-video-text li{
    margin-bottom: 36px;
    padding: 10px;
    background: #FFF;
box-shadow: 14px 14px 96px 0px rgba(255, 0, 0, 0.08);
    transition: all 0.3s ease
}
.work-video-text li:hover{
    transform: translateX(8px)
}
.work-video-text li:last-child{
    margin-bottom: 0
}
.work-video-box .title{
   margin-bottom: 10px
}
.work-video-box p{
    line-height: 160%;
    color: #686868;
    font-size: 16px
}
.work-video-img{
    width: 100%;
    height: 330px
}
.work-video-img img{
    width: 100%;
    height: 100%;
    object-fit: cover
}
.work-video-box{
    position: relative
}
.work-video-action{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* 02. Value css */
.value-area{
    background: #6495E5;
}
.value-area .section-heading h2{
    color: #fff
}
.value-area .section-heading p{
    color: rgba(255, 255, 255, 0.86);
}
.value-box{
    transition: all 0.3s ease
}
.value-box:hover{
    transform: translateY(-4px)
}
.value-box-img{
    width: 100%;
    height: 200px
}
.value-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover
}
.value-box-text{
    background: #fff;
    padding: 16px
}
.value-box-text .title{
    margin-bottom: 8px
}
.value-box-text p{
    line-height: 180%
}

/* 02. Contact css */
.contact-text-box{
    background: #6495E5;
    padding: 150px 24px;
}
.contact-text-box .title{
    color: #fff;
    margin-bottom: 16px
}
.contact-text-box p{
    color: rgba(255, 255, 255, 0.86);;
    font-weight: 500
}
.contact-form{
    padding-left: 60px
}
.contact-form input{
    border-bottom: 2px solid #C4C4C4;
    margin-bottom: 36px;
    width: 100%
}
.contact-form select{
    border-bottom: 2px solid #C4C4C4;
    border: none
}
.contact-form label{
    display: block;
    color: #0051DB;
}

.contact-form textarea{
    width: 100%;
    height: 76px;
    border: none;
    border-bottom: 2px solid #002C77;
}
.contact-form .cta-btn{
    margin-top: 45px
}


/* 02. Footer css */

.footer-area{
    background: #2B2424;
    padding-top: 60px
}

.footer-logo{
    margin-bottom: 36px
}
.footer-logo a {
    display: inline-block
}
.footer-social li{
    display: inline-block;
    margin-right: 8px
}
.footer-social li:last-child{
    margin-right: 0
}
.footer-contact-text li{
    margin-top: 16px;
    color: rgba(255, 255, 255, 0.86);
    line-height: 160%
}

.footer-link span{
    color: #6495E5;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 24px;
    display: block
}
.footer-link li{
    margin-bottom: 8px
}
.footer-link a{
    color: rgba(255, 255, 255, 0.86);
    line-height: 100%
}
.footer-branch{
    margin-top: 36px;
    padding-bottom: 36px
}
.single-branch-box span{
    color: #6495E5;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 24px;
    display: block
}
.single-branch-box li{
    color: #fff
}
.footer-copyright ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
    border-top: 1px dashed rgba(255, 255, 255, 0.16);
box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.25);
}
.footer-copyright ul li{
    margin-right: 36px;
    color: rgba(255, 255, 255, 0.48);
    font-size: 12px
}
.footer-copyright ul li:last-child{
    margin-right: 0;
}
.footer-copyright ul li a{
    color: rgba(255, 255, 255, 0.48);
    font-size: 12px
}
.footer-copyright ul li span{
    color: #f50e01
}
























@media(max-width:991px) {}

@media(max-width:767px) {}

@media(max-width:575px) {}
